
@charset "UTF-8";
.lay_cross_selling div {
    clear: both;
}
.lay_cross_selling .cross_item {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: left;
    margin: 0.2em -0.2em 0.5em;
    padding: 0.7em;
    position: relative;
    width: 126px;
}
.cross_item .cross_title {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.cross_item .cross_title, .cross_item .cross_code, .cross_item .cross_images {
    text-align: center;
}
.cross_item .cross_title a {
    color: #000000;
    text-decoration: none;
}
.cross_item .cross_code, .cross_item .cross_code a {
    color: #000000;
    font-size: 9px;
    margin-bottom: 0.5em;
    text-decoration: none;
}
.cross_item .cross_text {
    font-size: 10px;
    padding: 0 0.5em;
    text-align: center;
}
.cross_item .item_price {
    float: left;
    width: 100%;
}
.cross_item .item_price .label {
    clear: left;
    float: left;
    font-size: 10px;
    text-align: left;
}
.cross_item .item_price .price {
    float: right;
    font-size: 9px;
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
}
.cross_item .item_price:first-child .label {
    font-size: 11px;
}
.cross_item .item_price:first-child .price {
    font-size: 11px;
    font-weight: bold;
}
.cross_item .sale .price {
    color: #CC0000;
}
.cross_item .button {
    clear: both;
    float: right;
    width: auto;
}
.cross_item .button.buy {
    clear: none;
    float: right;
    margin: 0.15em 0 0;
    text-align: center;
    width: 60%;
}
.cross_item .item_quantity > div {
    clear: right;
    float: left;
    padding: 5px 0 0;
}
.cross_item .item_quantity input {
    float: right;
    font-size: 10px;
    height: 15px;
    text-align: right;
    width: 3em;
}
.lay_cross_selling .cross_prices {
    margin: 1em 0 0;
}
.cross_item .button.choose {
    margin: 0.2em 0 0;
    text-align: center;
    width: 90%;
}
#cross:after, .lay_cross_selling .cross_item:after, .lay_cross_selling .cross_prices:after, .lay_cross_selling .cross_item .outer_info:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

