<p class="text-info">
    {{lang.welcome}}<br />
</p>

<p>
    {{lang.search}}: <input ng-model="search">
    <a class="tdRight" href="" ng-click="changeLanguage('english')"><img src="img/flags/United_Kingdom.jpg" width="50"></a>
    <a href="" ng-click="changeLanguage('swedish')"><img src="img/flags/Sweden.jpg" width="40"></a>
    <a href="" ng-click="changeLanguage('chinese')"><img src="img/flags/China.jpg" width="38"></a>
</a>
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search" >
        <td class="tdCenter"><img ng-src="img/products/{{product.name}}-{{product.sku}}-{{product.colorCodes[product.colors[0]]}}-{{product.colors[0]}}.png" alt="{{product.name}}" /></td>
        <td>
            <a href="#/products/{{product.sku}}"><b>{{product.name}}</b></a><br />
            {{product.description}}
        </td>
        <td class="tdRight">
            {{product.price | currency}}
            
        </td>
        <td class="tdCenter">
            add to cart disabled
            </a>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="4">
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
</table>
