<p class="text-info">
    {{lang.welcome}}<br />
</p>

<table class="table table-borderless">
    <tr>
        <td class="tdRight" >
    {{lang.search}}: <input ng-model="search">
        </td>
        <td class="tdRight" colspan="4" >
            <a href="" ng-click="changeLanguage('english')"><img src="img/flags/United_Kingdom.jpg" width="50"></a>
            <a href="" ng-click="changeLanguage('swedish')"><img src="img/flags/Sweden.jpg" width="40"></a>
            <a href="" ng-click="changeLanguage('chinese')"><img src="img/flags/China.jpg" width="38"></a>
        </td>
    </tr>
</table>

<div id="setCurrency" >
            <ul ng-repeat="currency in currencies">
                <li class="selected">
                <a href="" title="gurra" ng-click="changeCurrency(currency.name)">{{currency.display}}</a>
                </li>
            </ul>
</div>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
</table>

<div class="list_holder">
<div ng-repeat="product in store.products | orderBy:'name' | filter:search" class="list-row listview_window list_view">
 
    <div class="prod_outer_3">
    <div class="prod_inner">
    <div class="list-top">
        <div class="images">
        <a href="#/products/{{product.sku}}">
            <img class="image_item" title="{{product.name}}" ng-src="img/prod100/{{product.name}}-{{product.sku}}-{{product.colorCodes[product.colors[0]]}}-{{product.colors[0]}}.png" alt="{{product.name}}" />
        </a>


        </div>
    </div>
 
    <div class="list-bottom">
        <div class="list-top-inner">
            <div class="list-left">
                <div class="itemname">
                <a id="art_50341_D22302" class="itemnamelink" href="#/products/{{product.sku}}">{{product.name}}</a>
                </div>
            </div>
            <div class="list-right">
                <div class="item_text" ><div class="many_colors" ng-show="product.colors.length>1">Finns i flera färger </div><br>Stl. {{product.sizes[0]}}-{{product.sizes[product.sizes.length-1]}}</div>
        </div>
        </div>
        <div class="list-bottom-inner">
            <div class="list-left">
            <span class="price">{{product.price * curra.rate | currency:curra.display}}</span>
            </div>
            <div class="list-right">
                <a class="button choose" href="#/products/{{product.sku}}">Välj</a>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
